//
// Font Families
//

$g-font-ptsans: "PT Sans", sans-serif;
$g-font-merriweather: "Merriweather", serif;

//
// Colors
//

// Main Colors
$g-color-primary: #FF914D;
$g-color-secondary: #FF5757;
$g-color-main: #464c5e;
$g-color-main-light-v1: #8991a3;

$g-color-text: #6f7481;
$g-color-secondary-light-v1: #e0e8ec;
$g-color-btn-text: #ffffff;

// Background Colors
$g-bg-main: #12222d;
$g-bg-secondary: #FF5757;
$g-bg-secondary-light-v1: #e0e8ec;