@import "variables.op-consulting";

.call-for-action-btn-1, .call-for-action-btn-1.active, .call-for-action-btn-1:hover {
  //width: 350px;
  margin: 20px;
  font-size: 18px !important;
  color: white;
  background-color: $g-color-primary !important;
}

.call-for-action-btn-1:hover {
  color: $g-color-primary !important;
  border-color: $g-color-primary !important;;
  background-color: transparent !important;;
}

.call-for-action-btn-2, .call-for-action-btn-2.active, .call-for-action-btn-2:hover {
  //width: 350px;
  margin: 20px;
  font-size: 18px !important;
  color: white;
  background-color: $g-color-secondary !important;;
}

.call-for-action-btn-2:hover {
  color: $g-color-secondary !important;;
  border-color: $g-color-secondary !important;;
  background-color: transparent !important;;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 250px;
}

.banner {
  width: 100%;
}

.btn-icon {
  width: 30px;
  margin-right: 5px;
  vertical-align: bottom;
}

/* Override styles */

.u-header__section {
  background-color: #ffffff !important;
}

.u-header__section .nav-item .nav-link {
  color: $g-color-main !important;
}

.u-header__section .nav-item .nav-link:hover {
  color: $g-color-secondary !important;
}

.u-header__section .nav-item.active .nav-link {
  color: $g-color-secondary !important;
}
