@import "variables.op-consulting";

.call-for-action-btn-1 {
  width: 300px;
  margin: 20px;
  font-size: 18px !important;
  background-color: $g-color-primary !important;
}

.call-for-action-btn-2 {
  width: 300px;
  margin: 20px;
  font-size: 18px !important;
  background-color: $g-color-secondary !important;;
}

.nav-logo {
  width: 300px;
}

.banner {
  width: 100%;
}

.btn-icon {
  width: 30px;
  margin-right: 5px;
  vertical-align: bottom;
}

/* Override styles */

.u-header__section {
  background-color: #ffffff !important;
}

.u-header__section .nav-item .nav-link {
  color: $g-color-main !important;
}

.u-header__section .nav-item .nav-link:hover {
  color: $g-color-secondary !important;
}

.u-header__section .nav-item.active .nav-link {
  color: $g-color-secondary !important;
}

/* Outline Button Primary */
.u-btn-outline-primary {
  color: $g-color-btn-text;
  background-color: $g-color-primary;
}

.u-btn-outline-primary:focus, .u-btn-outline-primary.active {
  color: $g-color-primary;
  border-color: $g-color-primary;
  background-color: transparent;
}

.u-btn-outline-primary:hover {
  color: $g-color-primary;
  border-color: $g-color-primary;
  background-color: transparent;
}